@import "common/common";

.app {
  height: 100%;
  background-color: $myColor;
}

.main-view{
  height: 700px;
  background: white;
}

.navbar{
  height: 100px;
  text-align: center;
  margin: 0 auto;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.footer {
  margin: 0;
  height: 50px;
  display: flex;
  align-items: center;

}
