
    <table>
        <tr>
            <th>Nazwa</th>
            <th>Data utworzenia</th>
            <th>Edytuj, Usun, Wyslij, utwórz ponownie</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3s</td>

    </table>

